@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css?family=League+Spartan:300,400,500");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 32px;
}

body {
  line-height: 1;
  font-family: "League Spartan", sans-serif;
  color: #161515;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1170px;
  padding: 0px 15px;
}

.titles {
  color: #000;
}
.titles__label {
  font-size: 24px;
  font-weight: 300;
  line-height: 180%;
}
.titles__item {
  font-size: 72px;
  font-weight: 400;
  line-height: 112.5%;
}

.offer {
  background: #f8f8f8;
}
.offer__content {
  padding: 0px 0px 168px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -12px;
}
.offer__left {
  padding: 20px 12px 0px 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.offer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43%;
          flex: 1 1 43%;
  padding: 0px 12px;
}
.offer__label {
  font-weight: 300;
  font-size: 24px;
  line-height: 186%;
  color: #161515;
}
.offer__label:not(:last-child) {
  margin-bottom: 30px;
}
.offer__title {
  font-weight: 300;
  font-size: 250px;
  color: #272727;
}
.offer__title:not(:last-child) {
  margin-bottom: 20px;
}
.offer__text {
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  color: #161515;
  max-width: 575px;
}
.offer__text:not(:last-child) {
  margin-bottom: 54px;
}
.offer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.offer__buy {
  font-weight: 300;
  font-size: 32px;
  line-height: 186%;
  text-align: center;
  color: #fff;
  background: #161515;
  padding: 11px 73px;
}
.offer__price {
  font-weight: 300;
  font-size: 32px;
  line-height: 186%;
  text-align: center;
  color: #272727;
  -webkit-box-shadow: 0 0 28px 0 rgba(214, 214, 214, 0.25);
          box-shadow: 0 0 28px 0 rgba(214, 214, 214, 0.25);
  background: #fff;
  padding: 11px 32px 11px 32px;
}
.offer__img {
  max-width: 100%;
}

.models {
  padding: 43px 0px 142px 0px;
}
.models__container {
  margin: 0px auto;
  max-width: 561px;
  padding: 0px 15px;
  text-align: center;
}
.models__header:not(:last-child) {
  margin-bottom: 63px;
}
.models__items:not(:last-child) {
  margin-bottom: 122px;
}
.item-models:not(:last-child) {
  margin-bottom: 80px;
}
.item-models__picture {
  background-color: #f8f8f8;
  margin: 0px auto;
}
.item-models__picture:not(:last-child) {
  margin-bottom: 67px;
}
.item-models__picture_watch2 {
  padding: 110px 65.5px;
  max-width: 417px;
}
.item-models__picture_watch3 {
  padding: 67px 2px;
  max-width: 500px;
}
.item-models__img {
  max-width: 100%;
}
.item-models .item-models__info {
  font-size: 32px;
}
.item-title:not(:last-child) {
  margin-bottom: 13px;
}

.item-text {
  color: #161515;
  font-weight: 300;
  line-height: 155%;
}

.desc-models__title:not(:last-child) {
  margin-bottom: 62px;
}
.desc-models__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 170%; /* 40.8px */
}
.desc-models__link {
  color: #bb8b5d;
  font-weight: 500;
}
.desc-models__link:hover {
  text-decoration-line: underline;
}