/* 
&display=swap
&subset=cyrillic-ext 
*/
@import '_null';
@import url('https://fonts.googleapis.com/css?family=League+Spartan:300,400,500');

html {
  font-size: 32px;
}
body {
  line-height: 1;
  font-family: 'League Spartan', sans-serif;
  color: #161515;
  background: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1170px;
  padding: 0px 15px;
}

.titles {
  color: #000;
  // .titles__label

  &__label {
    font-size: 24px;
    font-weight: 300;
    line-height: 180%;
  }

  // .titles__item

  &__item {
    font-size: 72px;
    font-weight: 400;
    line-height: 112.5%;
  }
}

.offer {
  background: #f8f8f8;
  // .offer__container

  &__container {
  }

  // .offer__content

  &__content {
    padding: 0px 0px 164px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // margin: 0px -12px;
  }

  // .offer__left

  &__left {
    padding: 20px 0px 0px 0px;
    flex: 1 1 auto;
    align-self: flex-end;
  }

  // .offer__label

  &__label {
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    color: #161515;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // .offer__title

  &__title {
    font-weight: 300;
    font-size: 250px;
    color: #272727;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .offer__text

  &__text {
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #161515;
    max-width: 575px;
    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  // .offer__buttons

  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  // .offer__buy

  &__buy {
    font-weight: 300;
    font-size: 32px;
    line-height: 186%;
    text-align: center;
    color: #fff;
    background: #161515;
    padding: 11px 73px;
  }

  // .offer__price

  &__price {
    font-weight: 300;
    font-size: 32px;
    line-height: 186%;
    text-align: center;
    color: #272727;
    box-shadow: 0 0 28px 0 rgba(214, 214, 214, 0.25);
    background: #fff;
    padding: 11px 32px 11px 32px;
  }

  // .offer__right

  &__right {
    padding: 0px 25px 0px 25px;
    // flex: 1 1 43%;
    // padding: 0px 12px;
    // display: flex;
    // justify-content: center;
  }

  // .offer__image

  &__image {
  }

  // .offer__img

  &__img {
    max-width: 100%;
  }
}
.button {
}

.main {
}
.models {
  // .models__container

  &__container {
  }

  // .models__content

  &__content {
    padding: 43px 0px 128px 0px;
    text-align: center;
    max-width: 561px;
    margin: 0px auto;
  }

  // .models__header

  &__header {
    &:not(:last-child) {
      margin-bottom: 63px;
    }
  }

  // .models__items
  &__items {
    &:not(:last-child) {
      margin-bottom: 122px;
    }
  }

  // .models__desc

  &__desc {
  }
}

.item-models {
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  // .item-models__image
  &__image {
    max-width: 531px;
    padding: 67px 0px 67px 0px;
    background-color: #f8f8f8;
    &:not(:last-child) {
      margin-bottom: 62px;
    }
  }
  // .item-models__img

  &__img {
    max-width: 100%;
  }

  //.item-models__info
  .item-models__info {
    font-size: 32px;
  }

  // .item-models__title

  &__title {
  }

  // .item-models__text

  &__text {
  }
}
.item-title {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}
.item-text {
  color: #161515;
  font-weight: 300;
  line-height: 155%;
}

.desc-models {
  // .desc-models__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    &::after {
      content: '';
      display: block;
      width: 178px;
      height: 1px;
      background: #707070;
      margin: 11px auto 0px;
    }
  }

  // .desc-models__text

  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 170%; /* 40.8px */
  }

  // .desc-models__link

  &__link {
    color: #bb8b5d;
    font-weight: 500;
    &:hover {
      text-decoration-line: underline;
    }
  }
}
